{% extends "BlogBundle::layout.html.twig" %}
{% block menu %}
    {%include "BlogBundle:Category:menu.categories.html.twig" with {'categories': categories} %}
{% endblock %}
{% block content %}          
    {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-info">{{message}}</div>
    {% endfor %}
    <div class="col-lg-6">
        <h2>Listado de entradas de categoría: {{category.name}}</h2>
        <hr>
        <a href="{{path("blog_add_category")}}" class="btn btn-success">Añadir categoría</a>
        <br><br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Título</th>
                    <th>Contenido</th>
                    <th>Autor</th>
                    <th>Tags</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>
                            {% if entry.image | length > 0 %}
                                <img src="{{asset("uploads/" ~ entry.image)}}" width="200">
                            {% endif %}
                        </td>
                        <td><strong>{{entry.title}}</strong></td>
                        <td>{{entry.content}}</td>
                        <td>{{entry.user.name}}</td>
                        <td>
                            {% for et in entry.getEntryTag() %}
                                {{et.getTag().getName()}} 
                            {% endfor %}
                        </td>
                        <td><a href="{{path("blog_edit_entry", {'id':entry.id})}}" class="btn btn-success">Editar</a></td>
                        <td>
                            {% if (app.user.id is defined) and (entry.user.id == app.user.id) %}
                                {% if entry.getEntryTag() | length == 0 %}
                                    <a href="{{path("blog_delete_entry", {'id':entry.id})}}" class="btn btn-danger">Eliminar</a>
                                {% else %}
                                    <a href="{{path("blog_delete_entry", {'id':entry.id})}}" class="btn btn-danger">Eliminar</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <ul class="pagination">
        {% if (page > 1)%}
            <li><a href="{{path('blog_read_category', {"id":category.id, "page":page-1})}}">&laquo;</a></li>
        {% endif %}
        {% for i in 1..pagesCount%}
            <li><a href="{{path('blog_read_category', {"id":category.id, "page":i})}}">{{i}}</a></li>
        {% endfor %}
        {% if (page < pagesCount)%}
            <li><a href="{{path('blog_read_category', {"id":category.id, "page":page+1})}}">&raquo;</a></li>
        {% endif %}
    </ul>
{% endblock %}
